<!-- Página de detalhes de uma Localização -->
<div *ngIf="location">
    <h4 class="details-description-title">Location<strong>:</strong><h5> {{location.name}} </h5></h4>
    <h4 class="details-description-title">Type<strong>:</strong><h5> {{location.type}} </h5></h4>
    <h4 class="details-description-title">Dimension<strong>:</strong><h5> {{location.dimension}} </h5></h4>

    <h4 class="details-description-title">Residents<strong>:</strong></h4>
    <div class="row">
        <div class="col-md-2 text-center" *ngFor="let resident of residents">
            <img src="{{resident.image}}" class="img-fluid rounded-start" alt="{{resident.image}}">
            <h6>{{ resident?.name }}</h6>
        </div>
    </div>
    
</div>
  