<!-- Lista de itens do Menu Lateral -->
<div class="sidenav-items">
    <div class="sidenav-item" routerLink="/home" routerLinkActive="active">
        <fa-icon [icon]="faHome"></fa-icon>
        <span>Home</span>        
    </div>
    <hr>

    <div class="sidenav-item" [routerLink]="['/personagens']" routerLinkActive="active" [queryParamsHandling]="'merge'">
        <fa-icon [icon]="faPeopleGroup"></fa-icon>
        <span>Characters</span>
    </div> 
    <hr>

    <div class="sidenav-item" [routerLink]="['/episodios']" routerLinkActive="active" [queryParamsHandling]="'merge'">
        <fa-icon [icon]="faPeopleGroup"></fa-icon>
        <span>Episodes</span>
    </div>
    <hr>

    <div class="sidenav-item" [routerLink]="['/localizacoes']" routerLinkActive="active" [queryParamsHandling]="'merge'">
        <fa-icon [icon]="faPeopleGroup"></fa-icon>
        <span>Locations</span>
    </div>  
    <hr>
</div>