<!-- Lista de itens do Menu Lateral -->
<div class="sidenav-items">
    <div class="sidenav-item" routerLink="/home" routerLinkActive="active">
        <fa-icon [icon]="faHome"></fa-icon>
        <span>Página Inicial</span>        
    </div>
    <hr>

    <div class="sidenav-item" routerLink="/personagens" routerLinkActive="active">
        <fa-icon [icon]="faPeopleGroup"></fa-icon>
        <span>Personagens</span>
    </div>    
    <hr>

    <div class="sidenav-item" routerLink="/episodios" routerLinkActive="active">
        <fa-icon [icon]="faTv"></fa-icon>
        <span>Episódios</span>
    </div> 
    <hr>

    <div class="sidenav-item" routerLink="/localizacoes" routerLinkActive="active">
        <fa-icon [icon]="faLocation"></fa-icon>
        <span>Localizações</span>
    </div>    
    <hr>
</div>