.sidenav-item {
    cursor: pointer;
    font-size: 1.1rem;
    padding: 20px;
}

.sidenav-item:hover {
    background-color: #111318;
}

fa-icon {
    margin-right: 15px;
}

hr {
    color: rgb(0, 255, 85);
}