<!-- Lista de itens do Menu Lateral -->
<div class="sidenav-items">
    <div class="sidenav-item">
        <fa-icon [icon]="faHome"></fa-icon>
        <span>Página Inicial</span>
        <hr>
    </div>
    <div class="sidenav-item">
        <fa-icon [icon]="faPeopleGroup"></fa-icon>
        <span>Personagens</span>
        <hr>
    </div>
    <div class="sidenav-item">
        <fa-icon [icon]="faLocation"></fa-icon>
        <span>Localizações</span>
        <hr>
    </div>
    <div class="sidenav-item">
        <fa-icon [icon]="faTv"></fa-icon>
        <span>Episódios</span>
        <hr>
    </div>
</div>