<!-- Dashboard dividído em containers -->
<div class="container">
    <div class="row">
        <div class="card-container-section col-md-6">
            <div class="card home-card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Personagens</h5>
                <p class="card-text">Texto qualquer</p>
                <a routerLink="/personagens" class="btn details-btn">Show all</a>
                </div>
            </div>
        </div>
        <div class="card-container-section col-md-6">
            <div class="card home-card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Episódios</h5>
                <p class="card-text">Texto qualquer</p>
                <a routerLink="/episodios" class="btn details-btn">Show all</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card-container-section col-md-12">
            <div class="card home-card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Localizações</h5>
                <p class="card-text">Texto qualquer</p>
                <a routerLink="/localizacoes" class="btn details-btn">Show all</a>
                </div>
            </div>
        </div>
    </div>
</div>