.header{
    padding: 10px 25px;
    height: 80px;
    background-color: #31394b;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 4px #00ff55;
}

.user{
    display: flex;
    align-items: center;
}
.user-icon{
    height: 50px;
    width: 50px;
    border-radius: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}