.header{
    padding: 10px 25px;
    height: 80px;
    background-color: #31394b;
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.user{
    display: flex;
    align-items: center;
}
.user-icon{
    height: 50px;
    width: 50px;
    border-radius: 2px solid white;
    border-radius: 50%;
    background-color: rgb(0, 255, 85);
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}