<!-- Página de Localizações -->
<div class="first-section">
    <h4 class="location-page-title">Locations:</h4>
    <br>
</div>

<div class="row">

    <div class="col-md-3" *ngFor="let location of locations">
        <div class="location-main-div card mb-3">
            <div class="g-0">                
                <div class="card-body">
                    <h5 class="card-title">{{location.name}}</h5>
                    <hr>
                    <h6 class="text-muted">Type:</h6>
                    <p>{{location.type}}</p>
                    <h6 class="text-muted">Dimension:</h6>
                    <p>{{location.dimension}}</p>

                    <a routerLink="/detalhes" class="btn details-btn">Details</a>
                </div>
            </div>
        </div> 
    </div>
    
</div>

<ng-container *ngIf="loading">
    <p>...</p>
</ng-container>
        