<!-- Página de Episódios -->
<app-search-bar></app-search-bar>
<div class="first-section">
    <h4 class="episode-page-title">Episodes:</h4>
    <br>
</div>

<div class="row">
    
    <div class="col-md-4" *ngFor="let episode of episodes">
        <div class="episode-main-div card mb-3">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <h6 class="card-title">Episode {{episode.id}}:</h6>
                        <h5 class="card-title">{{episode.name}}</h5>
                        <hr>
                        <h6 class="text-muted">Air date:</h6>
                        <p >{{episode.air_date}}</p>

                        <a [routerLink]="['/episodio-detalhes', episode.id]" class="btn details-btn">Details</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    
</div>

<ng-container *ngIf="loading">
    <p>...</p>
</ng-container>
        