.character-image {
    display: block;
    margin: 0 auto;
    border: 2px solid #00ff55;
    border-radius: 8px;
}

.character-title {
    padding: 20px;
    text-align: center;
}

hr  {
    color: #00ff55;
}

.character-description-title{
    color: #b700ff;
    margin-bottom: 20px;
}
.character-description-title strong{
    color: #00ff55;
}

.character-description-title h5{
    color: black;
}