.dashboard-container{
    display: flex;
}
.dashboard{
    padding: 20px;
}

.sidenav{
    width: 22%;
    min-height: calc(100vh - 50px);
    background-color: #262c3a;
    box-shadow: 4px 4px 4px #00ff55;
    padding: 20px;
}