.dashboard-container{
    display: flex;
}
.dashboard{
    margin-left: 22%;
    margin-top: 80px;
    padding: 20px;    
    width: 78%;
    color: black;
}


.sidenav {
    position: fixed;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 22%; 
    min-height: calc(100vh - 80px);
    overflow-y: auto;
    background-color: #1f2430;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}