.dashboard-container{
    display: flex;
}
.dashboard{
    padding: 20px;    
    width: 78%;
    color: black;
}

.sidenav{
    width: 22%;
    min-height: calc(100vh - 80px);
    background-color: #1f2430;
    padding: 20px;
}