<div *ngIf="episode">
    <p>{{episode.name}}</p>       
    <p>Episode: {{episode.episode}}</p>    
    <p>Air date: {{episode.air_date}}</p> 

    <h4 class="character-description-title">Showen Characters<strong>:</strong></h4>
    <div class="row">
        <div class="col-md-2" *ngFor="let character of characters">
            <img src="{{character.image}}" class="img-fluid rounded-start" alt="{{character.image}}">
            <h6>{{ character?.name }}</h6>
        </div>
    </div>
    
</div>
  