<!-- Página de listagem de Personagens -->
<div class="first-section">
    <h4 class="character-page-title">Characters:</h4>
    <br />
</div>

<div class="row">        
    <div class="col-md-6" *ngFor="let character of characters">
        <div class="character-main-div card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{character.image}}" class="img-fluid rounded-start" alt="{{character.image}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{character.name}}</h5>
                        <hr />
                        <h6 class="text-muted">Status:</h6>
                        <p >{{character.status}}</p>
                        <a [routerLink]="['/personagem-detalhes', character.id]" class="btn details-btn">Details</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

<ng-container *ngIf="loading">
    <div class="w-100 d-flex justify-content-center">
        <div class="loader"></div>
    </div>
</ng-container>

<ng-container *ngIf="error">
    <div class="w-100 d-flex justify-content-center">
        <h5> {{error}} </h5>
    </div>
</ng-container>